@import '../base/breaks';
@import '../abstracts/mixins';

.Page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
}

.Page-body {
  flex: 1;
}

