.grid {
  display: flex;
}

.grid-cell {
  flex: 1;
}

.grid-cell.u-full {
  flex: 0 0 100%;
}

.grid-cell.u-1of2 {
  flex: 0 0 50%;
}

.grid-cell.u-1of3 {
  flex: 0 0 33.3333%;
}

.grid-cell.u-1of4 {
  flex: 0 0 25%;
}