.grid {
  display: flex;
}

.grid-cell {
  flex: 1;
}

.grid-cell.u-full {
  flex: 0 0 100%;
}

.grid-cell.u-1of2 {
  flex: 0 0 50%;
}

.grid-cell.u-1of3 {
  flex: 0 0 33.3333%;
}

.grid-cell.u-1of4 {
  flex: 0 0 25%;
}

.grid-cell.u-3of4 {
  flex: 0 0 75%;
}

.grid-cell.u-1of8 {
  flex: 0 0 12.5%
}

.grid-column {
  display: flex;
  flex-direction:column;
}
