.login-area {
  align-items: center;
  font-size: 24px;
  font-family: "Roboto";
  //"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;

  .title {
    text-align: center;
  }

  .username-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid color("grey", "darken-2");;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
  }
}

.chat-area {
  .messages {
    li {
      list-style: none;
    }
    .log {
      margin: 5px;
      text-align: center;

    }
    .message {
      font-size: 150%;
    }
    .username {
      padding-right: 15px;
      font-weight: 700;
    }

  }
  .input-message {
    border: 10px solid #000;
    height: 60px;
    outline: none;
    padding-left: 10px;
    width: 100%;

  }
}

//fade out
.isTyping {
  height: 30px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}