.login-area {
  align-items: center;
  font-size: 24px;
  font-family: "Roboto";
  //"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;

  .title {
    text-align: center;
  }

  .username-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid color("grey", "darken-2");;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
  }
}

.chat-area {
  .messages {
    li {
      list-style: none;
    }
    .log {
      margin: 5px;
      text-align: center;

    }
    .message {
      font-size: 150%;
    }
    .username {
      padding-right: 15px;
      font-weight: 700;
    }

  }
  .input-message {
    border: 10px solid #000;

    height: 60px;

    outline: none;
    padding-left: 10px;
    //position: absolute;
    //left: 0;
    //right: 0;
    //bottom: 0;

    width: 100%;

  }
}

.cross-fade-leave {
  opacity: 1;
}

.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}