.login-area {
  padding: 100px 0;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "Roboto";
  background-color: color("grey", "lighten-4");
  //"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
  .form {
    padding: 50px 0;
    background-color: white;
  }
  .unnamed {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .fa {
      font-size: 120px;
      color: color("grey", "lighten-2");
    }
  }

  .username-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid color("grey", "darken-2");;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
  }
  .username,
  .email {
    display: block;
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    background-color: #f0f1f3;
    border: 1px solid color("grey", "lighten-1");
    border-radius: 3px;
    box-shadow: 0px 3px 3px #e3e4e6;
    margin-bottom: 20px;
    overflow: hidden;
  }
}

.chat-area {
  .messages {
    li {
      list-style: none;
    }
    .log {
      margin: 5px;
      text-align: center;

    }
    .message {
      font-size: 150%;
    }
    .username {
      padding-right: 15px;
      font-weight: 700;
    }

  }
  .input-message {
    border: 10px solid #000;
    height: 60px;
    outline: none;
    padding-left: 10px;
    width: 100%;

  }
}

//fade out
.isTyping {
  height: 30px;
}

.typing-enter {
  opacity: 0.01;
}

.typing-enter.typing-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.typing-leave {
  opacity: 1;
}

.typing-leave.typing-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}