//@import "~slick-carousel/slick/slick.css";
//@import "~slick-carousel/slick/slick-theme.css";

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
  color: #000000;
  outline: 0;
  background: 0 0;
}

.slick-next:before, .slick-prev:before {
  color: #000000;
}



