//@import "~slick-carousel/slick/slick.css";
//@import "~slick-carousel/slick/slick-theme.css";
.slick-slide {
  padding: 0 10px;

  &:hover {
    background: color("grey", "lighten-5");
  }
}

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {

  &::before {
    color: color("grey", "darken-3");
  }
  outline: 0;


}

.slick-next:before, .slick-prev:before {
  color: color("grey", "lighten-1");
}




