.quake-map {
  background-image: linear-gradient(rgba(43, 38, 38, 0.55), rgba(43, 38, 38, 0.55)), url(https://images.unsplash.com/photo-1452601395039-3184bc03cb09?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=5e02bfd262d6b6090294ea2cb2b660c9);
  background-position: center center;
  background-size: cover;
}