
.quakes-list {

  a:hover {
    color: color("blue", "darken-1");

  }
  .fa {
    margin-right: 10px;
    font-size: 20px;
  }
  .quake-info {
    background-color: color("grey", "lighten-3");
    margin-bottom: 20px;
    padding: 10px;
    &:last-child {
      margin-bottom: 0;
    }

    p {
      margin: 5px 0;
    }
    span {
      margin-right: 10px;
    }
    .item-end {
      color: color("grey", "lighten-1");
      align-self: center;
      text-align: right;
      .fa {
        &:hover {
          cursor: pointer;
          color: color("blue", "darken-1");
        }
      }
    }

  }
}

.quake-list {
  .quake-info {

    .grid-row {
      height: 40px;
      border-bottom: solid 1px color("grey", "lighten-2");
      background: color("green", "lighten-5");
      .grid-cell {
        padding: 9px 12px;
      }
    }
  }

}

.history-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

  .row {
    display: flex;
    flex-direction: row;
    background-color: color("indigo", "lighten-5");
    border-bottom: 1px solid #fff;
    &:hover {
      background-color: transparent;
    }

    .cell {
      flex: 1;
      flex-basis: 15%;
      padding: 9px 12px;

    }
  }

  .header {
    padding: 12px;
    font-size: 14px;

  }

}

