.quake-map {
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.map-container {
  border-left: 1px solid color("grey", "lighten-1");
  padding-left: 10px;
  margin-left: 10px;
}

